# OAuth Client Credentials
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

# Stripe Payment Integration Credentials
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key

# Aviation Edge API Key (https://aviation-edge.com/)
NEXT_PUBLIC_AVIATION_EDGE_API_KEY=your_aviation_edge_api_key

# Frontend and Backend URLs
NEXT_PUBLIC_BACKEND_URL='http://127.0.0.1:8000'

# Application Port
PORT=3000
